.p-2 {
    margin: 15px;
}
.alert {
    color: black;
    box-shadow: 1px 1px 4px black;
}

form label {
    margin-left: 15px;
    float:left;
    font-weight: bold;
}

form .btn {
    margin-left: 15px;
    width:150px
}